*{color: #fff; margin: 0; padding: 0;}
li{list-style: none;}
h1{margin: 50px 0 20px 0;}
a{text-decoration: none;}
html{-ms-content-zooming: none;}
button{background: none; border: none; border: 1px solid #ccc; border-radius: 20px; padding: 10px 20px;}
button:active{opacity: 0.9;}
#img{margin: 40px 0;}
.back{padding: 10px;}
.game{text-align: center; border:none;}
.chapter1{background: url('img/chapter1/12.jpg') no-repeat center center; background-size: cover;} 
.chapter2{background: url('img/chapter2/10.jpg') no-repeat center center; background-size: cover;} 
.chapter3{background: url('img/chapter3/10.jpg') no-repeat center center; background-size: cover;} 
.chapter4{background: url('img/chapter4/10.jpg') no-repeat center center; background-size: cover;} 
.chapter5{background: url('img/chapter1/12.jpg') no-repeat center center; background-size: cover;} 
.list{gap: 20px; display: flex; flex-wrap: wrap; justify-content: center;}
.list li{width: 130px; height: 130px; border-radius: 10px;}
.list li a{display: flex; height: 100%; justify-content: center; align-items: center; position: relative;}
.list li a::after{content: ""; opacity: 0.4; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: #000;}
.list li a span{z-index: 1;}
.top_btn{margin:10px; display: flex; justify-content: space-between;}